<form method="POST" action="/new"> 
    <h2>New Post</h2>
    <label for="messageTitle">Title:</label>
    <br />
    <input type="text" id="messageTitle" name="messageTitle">
    <br />
    <label for="username">Username:</label>
    <br />
    <input type="text" id="username" name="author">
    <br />
    <label for="messageBody">Message:</label>
    <br />
    <input type="text" id="messageBody" name="messageBody">
    <br />
    <button type="submit" >Submit</button>
</form> 